// root:
$white: #fff;
$black: #000;
$text-base: #5d6670;

// primary
$orange-100: #fff6e8;
$orange-200: #ffe1b5;
$orange-300: #ffcd82;
$orange-400: #ffb94f;
$orange-500: #fbab34;
$orange-600: #e09422;
$orange-700: #ad721a;
$orange-800: #7a4e0c;
$orange-900: #472c04;

// secondary
$gray-100: #f6f6f6;
$gray-200: #f4f3f8;
$gray-300: #e0deea;
$gray-400: #acabb7;
$gray-500: #8c8a97;
$gray-600: #716f7a;
$gray-700: #5f5c6b;
$gray-800: #4e4b59;
$gray-900: #33303e;

// tertiary
$green-100: #e8faf1;
$green-200: #d1f6e3;
$green-300: #a4edc6;
$green-400: #8de8b8;
$green-500: #1bd171;
$green-600: #18b863;
$green-700: #149e55;
$green-800: #0e6b3a;
$green-900: #07381e;

// quartenary
$pink-100: #fff2f3;
$pink-200: #ffcfd0;
$pink-300: #ff9497;
$pink-400: #fa7d80;
$pink-500: #ec3237;
$pink-600: #d42d31;
$pink-700: #a12226;
$pink-800: #6e171a;
$pink-900: #3b0c0e;

// Width web
$desktop: 1216px;
$tablet: 672px;
$mobile: 272px;
